*{
    background-color: rgb(234, 221, 235);
}
.main{
    color: blueviolet;
}
#countriesName{
    margin-left: 30px;
    cursor: pointer;
    text-decoration: underline;
    color: deepskyblue;
    list-style-type: none;
}
#details{
    max-width: 500px;
    border-radius: 20px;
    grid-template-columns: none;
    position: fixed;
    left: 80%;
    top: 60%;
    transform: translate(-50%, -50%)
}
#details img{
    width: 400px;
}