.main{
    color: blueviolet;
}
#countriesName{
    margin-left: 30px;
    cursor: pointer;
    text-decoration: underline;
    color: deepskyblue;
    list-style-type: none;
}
#details{
    /* text-align: left; */
    max-width: 500px;
    border-radius: 20px;
    grid-template-columns: none;
}
#details img{
    width: 400px;
}